
.modal.and.carousel {
    position: fixed; 
}
.row {
    margin-top: 75px;
    margin-left:0!important;
    margin-right:0!important;
    padding: 0!important;
}
.carousel-inner{
    height:90vh!important;
    width:auto!important;
    padding-left: 0px;  
    padding-right: 0px;
}
html .modal-dialog{
    width:auto;
    max-width:90vw;
}
html .modal-body {
    width:auto;
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
}
html .modal-content{
    width:auto;
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
}
html .carousel-item{
    width:auto;
    margin:auto;
}
  
.img-modal{
    height:90vh!important;
    width:auto!important;
    width: 100%;
    height:auto;
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
.img-gallery{
    width: 100%;
    height:auto;
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
} 
.col-auto{
    width: 400px!important; 
    height:250px!important;
    overflow:hidden;
    border-radius: 5px; 
    padding:0!important;
    margin:10px!important;
}
@media (max-width: 950px) {
    .img-gallery{
        width: 100px!important; 
    }
    .col-auto{
        padding:5px!important;
    }
}
