html body{        
    background-color:#fff; 
}
.logo{
    height: 80px;
}
body .navbar{
    border-width: 0;
    background-color: #f9f9f9;
}
.navbar-text:hover{
    text-decoration: none;
}
.tag{
    font: 6vw 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.9);

    text-align: center;
    padding: 4vh 0 4vh;
}
.modal.and.carousel {
    position: fixed; 
}
.row {
    margin-left:0!important;
    margin-right:0!important;
    padding: 0!important;
}

html .modal-dialog{
    width:80vw;
    height:75vh;
    max-width: none;
    margin: 11vh auto auto;
}
html .modal-content{
    height: 100%;
    }
html .modal-body{
    width:100%;
    height:100%;
}
html .carousel-inner{
    width:100%;
    height:100%;
}
html .carousel-item{
    width:100%;
    height:100%; 
}

  
.img-modal{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.img-gallery{
    width: 100%;
    height:auto;
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
} 
.col-auto{
    width: 20vw!important; 
    height:12vw!important;
    overflow:hidden;
    border-radius: 10px; 
    padding:0!important;
    margin:.4vw!important;
}
body .carousel-control-prev-icon {
    background-image: url("/img/prev.svg");
    background-size: contain;
}
body .carousel-control-next-icon {
    background-image: url("/img/next.svg");
}
@media (max-width: 600px) {
    
    .col-auto{
        width: 45vw!important; 
        height:25vw!important;
    }

}
@media (min-width: 600px) and (max-width: 1400px) {
    
    .col-auto{
        width: 30vw!important; 
        height:16vw!important;
    }
}
@media(max-width:767px){
    html .collapsing{
        position: absolute;
        padding-bottom: 0;
        z-index: 1000;
    }
    .navbar-collapse{
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 1000;
        /*background-color: rgb(224, 224, 224);*/
        background-color: #f9f9f9;
        padding: 0px 20px 0px 20px;
        border-radius:  5px 0 0px 10px;
        text-align: center;
    }
    .navbar-nav{
        padding-bottom: 10px;
    }
    .tag{
    font: 40px 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.9);

    text-align: center;
    padding: 3vh 0 2vh;
    }
}

